/* Lightning Design System v0.4.0 */
.#{$css-prefix}datepicker {
  margin-top: $spacing-xx-small;
  padding: 0;
  font-size: $font-size-small;

  @include mq-large-min {
    // hard coded for now. Need to point to desktop form factor token here.
    font-size: .75rem;
  }

  th,
  td {
    text-align: center;
  }

  th {
    padding: $spacing-x-small;
    font-weight: $font-weight-regular;
    color: $color-text-label;
  }

  td {
    padding: $spacing-xx-small;
    text-align: center;

    > .#{$css-prefix}day {
      @include square($square-icon-medium-boundary);
      display: block;
      position: relative;
      min-width: $square-icon-medium-boundary;
      line-height: $square-icon-medium-boundary;
      border-radius: $border-radius-circle;
    }

    &:hover:not(.#{$css-prefix}disabled-text) > .#{$css-prefix}day,
    &:focus:not(.#{$css-prefix}disabled-text) > .#{$css-prefix}day,
    &.#{$css-prefix}is-today > .#{$css-prefix}day {
      background: $color-background-row-hover;
      cursor: pointer;
    }

    &.#{$css-prefix}is-selected:not(.#{$css-prefix}disabled-text) > .#{$css-prefix}day {
      background: $color-background-button-brand-hover;
      color: $color-text-button-brand-hover;
    }

    &.#{$css-prefix}is-selected-multi {

      > .#{$css-prefix}day {
        overflow: visible;
      }
      + .#{$css-prefix}is-selected-multi > .#{$css-prefix}day:before {
        @include calendar-selection-fill;
      }
    }
  }

  .#{$css-prefix}has-multi-row-selection {

    .#{$css-prefix}is-selected-multi:first-child > .#{$css-prefix}day:before,
    .#{$css-prefix}is-selected-multi:last-child > .#{$css-prefix}day:after {
      @include calendar-selection-fill;
    }
    // re-calculate for first child
    .#{$css-prefix}is-selected-multi:first-child > .#{$css-prefix}day:before {
      left: 0;
      transform: translateX($spacing-xx-small * -1);
    }
    // re-calculate for last child
    .#{$css-prefix}is-selected-multi:last-child > .#{$css-prefix}day:after {
      left: auto;
      right: 0;
      transform: translateX($spacing-xx-small);
    }
  }

  &__filter {
    padding: $spacing-xx-small;
  }

  &__filter--month {
    padding: 0 $spacing-xx-small 0 0;
  }

  .#{$css-prefix}picklist__label {
    font: {
      size: $font-size-small;
      weight: $font-weight-regular;
    }

    @include mq-large-min {
      // hard coded for now. Need to point to desktop form factor token here.
      font-size: .75rem;
    }
  }
}

.#{$css-prefix}disabled-text {
  color: $color-text-button-default-disabled;
}
