.THIS {
}

.THIS .topHeader {
    background-color: #BDDDF7;
    padding: 10px;
    margin-bottom: 10px;
}
.THIS .sidebar {
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 0px;
}
.THIS .sidebar li a:hover {
    background: #ffffcc;
}

.THIS .sidebar li {
    padding: 5px;
}
.THIS .demo-only {
    font-size: 0.875rem;
    padding: 10px;
}

 .THIS div.demo-container div.slds-container {
    background-color:#DEE8F7;
    outline: 1px solid #C0C0C0;
}

.THIS .demo--inverse {
  padding: 12px 0 12px 12px;
  background-color: #16325c;
}
.THIS .demo-container {
    outline: 1px solid #C0C0C0;
    margin: 5px 0;
}
.THIS .demo-container > button {
    margin-left: 10px;
    margin-bottom:10px;
}
.THIS .demo-container .container {
    text-align: center;
    line-height: 2rem;
    background-color: rgba(21,137,238,0.1);
    box-shadow: rgba(0,0,0,0.1) 0 0 0 1px inset; 
}

.THIS .demo-container [class*="slds-col"] {
    background-color: rgba(21,137,238,0.1);
    box-shadow: rgba(0,0,0,0.1) 0 0 0 1px inset;
    line-height: 2rem;
    text-align: center;
}

.THIS .demo-container .col {
    background-color: rgba(21,137,238,0.1);
    box-shadow: rgba(0,0,0,0.1) 0 0 0 1px inset;
    line-height: 2rem;
    text-align: center;
}

.THIS .demo-container .grid--overflow>.col {
    min-height: 150px;
}