/* Lightning Design System v0.4.0 */
a {
	text-decoration: none;
  transition: color 0.1s linear;


  &:link,
  &:visited {
    color: $color-text-link;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $color-text-link-hover;
  }

  &:focus {
    @include focus;
  }

  &:active {
    color: $color-text-link-active;
  }
}
